/* Sample CSS for Dark Mode */
html {
  background-color: #282828 !important;
}
hr {
  border-color: #9e9e9e !important;
}
::marker, ul, li{
  color: #9e9e9e !important ;
}
.list-group-item a:hover{
  color: #3399FF !important;
}
/* Apply Safari's default blue selection color */
::selection {
  background-color: #add8e6 !important;/* Safari's default blue selection color */
  color: #fff !important; /* White text color */
}

#headlessui-menu-button-1, #navbar-root,#footer-root, #navbar-container, #leetcode-navbar, .root__23T_, .container__2AdV, .constrained-width__3N0d, .main__26VS{
  background-color: #282828 !important ;
  color: #9e9e9e !important ;
}
.contest-base, .callout{
  background-color: #2e2e2e !important ;
  color: #9e9e9e !important ;
}
.callout, .callout-default, .content-wrapper, pre:not(.CodeMirror-line), .panel *{
  background-color: #282828 !important;
  color: #9e9e9e !important;
  border: none !important;
}
.hover-panel:not(.btn) , .hover-panel * {
  background-color: #282828 !important;
  color: #9e9e9e !important;
  border: none !important;
}


body:not(.virtual-btn, .CodeMirror-line, .btn), .contest-detail-base:nth-child(2){
  background-color: #282828 !important; /* Default background color */
  color: #9e9e9e !important; /* Default text color */
}

a:not(.contest-discuss-link , .contest-detail-info,  .virtual-btn, .btn), .copyright__Ak6x ,.nav-items__1KWV, h1, h2, h3, h4, h5, p, text-300{
  color: #9e9e9e !important; 
}
::marker{
  background: #ffe5e5b2 !important;
}
.contest-discuss-link, .virtual-btn{
  color: #353535 !important; 
}

.virtual-btn { 
  color: #ffffff !important; 
}
.contest-question-info, .list-group-item, .panel * :not(.btn) {
  background-color: #282828 !important;
  color: rgb(220, 220, 220) !important; /* Default background color */
  border: 0.25px;
  
}
strong{
  color: #ff9933ca!important;
}
code{
  background-color: transparent !important;
  color: #c7254e !important;
}
.contest-dynamic-layout-button__2GV_{
  background-color: transparent !important;
  border: none !important;
  color: #FF9933 !important;
}
.CodeMirror{
  border: 0.5px solid grey !important;
}
/* .ReactCodeMirror * :not(.cm-number, .cm-type, .cm-operator, .cm-variable,.cm-meta, .cm-def, .cm-keyword, .cm-comment){
  background-color: #282828 !important;
  color:#d4d4d4dd !important;
} */

.cm-number{
  /* background-color: #282828 !important; */
  color: #b5cea8 !important;
}
.cm-type, .cm-meta{
  /* background-color: #282828 !important; */
  color: #569CD6 !important;
}
.cm-operator, .cm-variable{
  /* background-color: #282828 !important; */
  color: #252424dd !important;
}
.cm-def{
  /* background-color: #282828 !important; */
  color: #4ec9b0 !important;
}
.cm-keyword{
  /* background-color: #282828 !important; */
  color: #c586c0 !important;
}
.cm-comment{
  /* background-color: #282828 !important; */
  color: #6a9955 !important;
}
path{
  fill: #FF9933 !important;
}
.container__2AdV{
  border-top: 1px solid #9e9e9e !important; 
}
